<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="redis" connectionString="localhost:6379" />
	</connectionStrings>
	<appSettings>
		<add key="money_bot_token" value="1831949472:AAHyXPIx0rQ9bKB9r0T-gOKNJB8o26Bag4A"/>
		<add key="youtube_bot_token" value="your_token"/>
	</appSettings>
</configuration>