<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="redis" connectionString="localhost:6379" />
	</connectionStrings>
	<appSettings>
		<add key="money_bot_token" value="1831949472:AAH-gFQzweOOvJ7S80on5SAdt6ukCq0LlD0"/>
		<add key="youtube_bot_token" value="1748223618:AAHBHUaihQrrMz78QkpogVgnxYWCXiVLdtI"/>
		<add key="export_url" value="https://docs.google.com/spreadsheets/d/"/>
	</appSettings>
</configuration>