<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="redis" connectionString="localhost:6379" />
	</connectionStrings>
	<appSettings>
		<add key="money_bot_token" value="your_token "/>
		<add key="youtube_bot_token" value="your_token"/>
	</appSettings>
</configuration>